= image_tag('meghan-fitzgerald.jpg')
%h4 About
%p 
  Hi! I'm Meghan Fitzgerald, a Chicago-based cook, food writer and recipe developer. I launched this blog, Chef-Meg, in January of 2012. 
  =mail_to 'meg+website@chef-meg.com', 'Please send me any feedback!'
%br
.fb-like-box{"data-header" => "true", "data-href" => "http://www.facebook.com/pages/Chef-Meg/267579586630961", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "240"}
/.fb-like-box{"data-header" => "false", "data-href" => "http://www.facebook.com/pages/Chef-Meg/267579586630961", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "292"}
