.fb-like-box{"data-header" => "true", "data-href" => "http://www.facebook.com/pages/Chef-Meg/267579586630961", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "240"}
/.fb-like-box{"data-header" => "false", "data-href" => "http://www.facebook.com/pages/Chef-Meg/267579586630961", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "292"}
